core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
os.environ["CLOUDINARY_URL"] =
"cloudinary://491272396866443:w1DPUUQ3TzUoXP7w6QoQDF7oPUM@dmnszgwfc"